# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
cmake-build*
build*
CMakeLists.txt.user
Simple-SLAM.code-workspace
*.jpg
*.png
*.pkl
*.pyc
.vscode
_pycache_
# fast*.cpp
fast*.py
.cache
.idea
learn_fast.cpp
query*
tree_builder*
node.h
generate.cpp